.imagen-pla{
   background-image: url('./assets/img/plato-dia.jpg');
    height: 600px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}
.title_menu{
    margin-top: 15%;
    
    font-size: 620%;
}